<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.utar.moneyforest">
    <!-- For API Level < 23 -! -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mylauncher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mylauncher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.moneyforest">
        <activity
            android:name=".ads.GoogleAdsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6389857365269040~8396450136" />

        <activity
            android:name=".outcome.CompleteActivity"
            android:exported="false" />
        <activity
            android:name=".user.FBAuthentication"
            android:exported="false" />
        <activity
            android:name=".course.CourseActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.ChallengeOutcomeActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.ChallengeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".user.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".user.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".user.CalculatorActivity"
            android:exported="false">
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>